<app-loading *ngIf="loading"></app-loading>

<div *ngIf="errorFlag" class="alert alert-danger animated fadeIn">
    <h3>Error</h3>
    <p>
        {{ errorMessage }}
    </p>
</div>

<h3 class="text-white font-weight-bold mt-2">Ejercicio</h3>
<hr>
<div class="card-deck">
    <div class="card animated fadeIn" *ngIf="!loading">
        <div class="card-header">
            <h3><span class="badge badge-primary">Definicion</span></h3>
        </div>
        <div class="card-body">
            <div class="d-flex bd-highlight mb-3">
                <div class="mr-auto p-2 bd-highlight">
                    <h5 class="card-title">{{ejercicio.name}}</h5>
                </div>
                <div class="p-2 bd-highlight">
                    <ngb-rating [(rate)]="selected" [max]="5" (hover)="hovered=$event" (leave)="hovered=0">
                        <ng-template let-fill="fill" let-index="index">
                            <span class="star" (click)="mostrar(hovered)" [class.filled]="fill === 100" [class.bad]="index < 2">&#9733;</span>
                        </ng-template>
                    </ngb-rating>
                </div>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">{{ ejercicio.details }}</h6>
            <hr>
            <div class="card-text font-weight-bold">Ejemplos:</div>
            <div class="card-text mt-3" *ngFor="let item of ejercicio.examples">
                <p>
                    <span class="font-weight-bold">Llamada:</span> {{ item.call }}
                    <br>
                    <span class="font-weight-bold">Resultado:</span> {{ item.result }}
                </p>
                <br>
            </div>
        </div>
        <div class="card-footer">
            <a [hidden] = "!URLPublica" href="{{ URLPublica }}" target="_blank">Descargar</a>
        </div>
    </div>
    <div class="card animated fadeIn" *ngIf="!loading">
        <div class="card-header">
            <h3><span class="badge badge-success">Solucion</span></h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ejercicio.name}}</h5>
            <div class="card-text">
                <pre>
                    <span class="font-weight-bold text-success">Entrada:</span> 
                        <span class="font-weight-bold">{{ ejercicio.solution.inputs[0].name }}</span>: {{ ejercicio.solution.inputs[0].type }}
                    <span class="font-weight-bold text-danger">Salida:</span>  
                        <span class="font-weight-bold">{{ ejercicio.solution.outputs[0].name }}</span>: {{ ejercicio.solution.outputs[0].type }}
                </pre>
                <hr>
                <pre><code [highlight]="ejercicio.solution.code" (highlighted)="onHighlight($event)"></code></pre>
            </div>
        </div>
    </div>
</div>