<div class="container">
  
  <nav>
    <ul>
      <li>
        <input class="form-control selectH w-75 mt-2" type="search" aria-label="Search" id="searchI" placeholder="Buscar">
      </li>
    </ul>
    <ul>
      <li *ngIf="!userStatus"><a class="text-white nounderline" [routerLink]="[ '/signup' ]">Signup</a></li> 
      <li *ngIf="!userStatus"><a class="text-white nounderline" [routerLink]="[ '/login' ]">Login</a></li>
      <li *ngIf="!userStatus"><a class="text-white nounderline" [routerLink]="[ '/home' ]">home</a></li>
      <li *ngIf="userStatus && userStatus.role === 'admin'"><a [routerLink]="[ '/admin' ]">admin</a></li>
      <li *ngIf="userStatus"><button class="logout" (click)="logout()">Logout</button></li>
      
    </ul>
    
  </nav>
  <header> 
    <div>
        <img src="../assets/612 [Converted].svg" />
    </div>  
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  </div>