<div class="container">

  <nav>
    <ul>
      <li>
        <button type="button" class="btn btn-outline-light" [routerLink]="[ '/search' ]">Search</button>
      </li>
    </ul>
    <ul>
      <li *ngIf="!userStatus"><a class="text-white nounderline" [routerLink]="[ '/signup' ]">Signup</a></li>
      <li *ngIf="!userStatus"><a class="text-white nounderline" [routerLink]="[ '/login' ]">Login</a></li>
      <li><a class="text-white nounderline" [routerLink]="[ '/home' ]">Home</a></li>
      <li *ngIf="userStatus && userStatus.role === 'admin'"><a class="text-white nounderline"
          [routerLink]="[ '/admin' ]">Admin</a></li>
      <li *ngIf="userStatus"><button class="logout" (click)="logout()">Logout</button></li>
    </ul>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>