<!-- <section>
   <img src="../../assets/2480325.svg" /> ../../assets/mountain.png
  <div class="row justify-content-center">
    <div class="col-sm-5 mb-3">
      <div class="card bg-dark text-white">
        <img src="../../assets/mountain.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">CREATE</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <button (click) ="goToCreate()" class="btn btn-outline-light">CREAR</button>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card bg-dark text-white">
        <img src="../../assets/mountain.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">READ</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <button (click) ="goToRead()" class="btn btn-outline-light">VISUALIZAR</button>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card bg-dark text-white">
        <img src="../../assets/mountain.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">UPDATE</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <button (click) ="goToUpdate()" class="btn btn-outline-light">ACTUALIZAR</button>
        </div>
      </div>
    </div>
    <div class="col-sm-5 mb-3">
      <div class="card bg-dark text-white">
        <img src="../../assets/mountain.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">DELETE</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <button (click) ="goToDelete()" class="btn btn-outline-light">ELIMINAR</button>
        </div>
      </div>
    </div>
  </div>

</section> -->

<div class="container mt-4">
  <div class="card">
      <div class="card-body">
          <span class="h3 text-success">Listado de Ejercicios</span>
          <button class="btn btn-dark btn-lg float-right" routerLink="/admin/create">Agregar</button>
          <h5 style="margin-top: 30px;" *ngIf="ejercicios.length == 0">No hay datos para mostrar</h5>
          <table *ngIf="ejercicios.length > 0" class="table table-striped mt-5">
              <thead>
                <tr>
                  <th>Call</th>
                  <th>Creator</th>
                  <th>Details</th>
                  <th>Level</th>
                  <th>  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let ejercicio of ejercicios">
                  <td>{{ ejercicio.call }}</td>
                  <td>{{ ejercicio.creator }}</td>
                  <td>{{ ejercicio.details }}</td>
                  <td>{{ ejercicio.level | currency }}</td>
                  <td>
                    <i class="fas fa-edit" [routerLink]="['/admin/update/', ejercicio.id]"></i>
                    <i (click)="eliminarEjercicio(ejercicio.id)" class="fas fa-trash-alt fa-lg text-danger"></i>
                  </td>
                </tr>
              </tbody>
            </table>
      </div>
  </div>
</div>