<section>
  <!-- <img src="../../assets/2480325.svg" /> ../../assets/mountain.png -->
  <div class="row justify-content-center">
    <div class="col-sm-5 mb-3">
      <div class="card bg-dark text-white">
        <img src="../../assets/mountain.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">CREATE</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <button (click) ="goToCreate()" class="btn btn-outline-light">CREAR</button>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card bg-dark text-white">
        <img src="../../assets/mountain.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">READ</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <button (click) ="goToRead()" class="btn btn-outline-light">VISUALIZAR</button>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card bg-dark text-white">
        <img src="../../assets/mountain.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">UPDATE</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <button (click) ="goToUpdate()" class="btn btn-outline-light">ACTUALIZAR</button>
        </div>
      </div>
    </div>
    <div class="col-sm-5 mb-3">
      <div class="card bg-dark text-white">
        <img src="../../assets/mountain.png" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">DELETE</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text">Last updated 3 mins ago</p>
          <button (click) ="goToDelete()" class="btn btn-outline-light">ELIMINAR</button>
        </div>
      </div>
    </div>
  </div>

</section>