<h4>Formularios <small>data</small></h4>
<hr>
<form [formGroup]="forma" >

    <div>

        <div class="form-group row">
            <label class="col-2 col-form-label">call</label>
            <div class="col">

                <input class="form-control" type="text" 
                placeholder="Nombre" 
                formControlName="call"
                
                >
                
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">creator</label>
            <div class="col">

                <input class="form-control" type="text" 
                placeholder="Apellido" 
                formControlName = "creator"
                
                >
                
            </div>
        </div>

    

    <div class="form-group row">
        <label class="col-2 col-form-label">details</label>
        <div class="col">

            <input class="form-control" type="email" placeholder="Correo electrónico" 
            formControlName="details"
           
                >
                
        </div>
    </div>

    <div class="form-group row" formGroupName="examples">
        <label class="col-2 col-form-label">examples</label>
        <div class="form-row col">
            <div class="col">
                <input type="text"
                        class="form-control"
                        placeholder="call"
                        formControlName="call"                        
                        >
            </div>
            <div class="col">
                <input type="text"
                        class="form-control"
                        placeholder="comment"
                        formControlName="comment"
                        
                        >

            </div>

            <div class="col">
              <input type="text"
                      class="form-control"
                      placeholder="result"
                      formControlName="result"
                      
                      >

          </div>

        </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">name</label>
      <div class="col">

          <input class="form-control" type="text" placeholder="Usuario" 
          formControlName="name"
          
              >
              
      </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">section</label>
    <div class="col">

        <input class="form-control" type="text" placeholder="Usuario" 
        formControlName="section">
            
    </div>
  </div>


  <div class="form-group row" formGroupName="solution">
    <label class="col-2 col-form-label">solution</label>
    <div class="form-col">
      <div class="col">
        <input type="text"
        class="form-control"
        placeholder="code"
        formControlName="code"
        
        >
      </div>

      <!-- <div class="col">
          <table class="table">
              <thead class="thead-dark">
                  <tr>
                      <th>Id</th>
                      <th>Output</th>
                      <th>Borrar</th>
                  </tr>
              </thead>
              <tbody formArrayName="outputs">
                  <tr *ngFor="let control of outputs.controls; let i=index">
                      <td>{{i+1}}</td>
                      <td>
                          <input  class="form-control" 
                                  type="text"
                                  [formControlName] = "i"
                          >
                      </td> 
                      <td>
                          <button class="btn btn-danger"
                                  (click)="borrarOutput(i)">
                              Borrar
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
    
          <button     type="button" 
                      class="btn btn-primary btn-block mb-5"
                      (click)="agregarOutput()">
              + Agregar 
          </button>   
          

      </div> -->

      <div class="col">
        
        <div *ngFor="let obj of outputs.controls; let i= index" formArrayName="outputs">
                     
          <ng-container [formGroupName]="i">
                <label class="text-left"> name :</label>
                <input type="text" formControlName="name">

                <label class="text-left"> type :</label>
                <input type="text" formControlName="type">
          </ng-container>
              
            
          
        </div>
      </div>



        <!-- <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Output</th>
                    <th>Borrar</th>
                </tr>
            </thead>
            <tbody formArrayName="inputs">
                <tr *ngFor="let control of outputs.controls; let i=index">
                    <td>{{i+1}}</td>
                    <td>
                        <label> hola</label>
                        <input  class="form-control" 
                                type="text"
                                [formControlName] = "i"
                        >
                    </td> 
                    
                    <td>
                        <button class="btn btn-danger"
                                (click)="borrarOutput(i)">
                            Borrar
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
  
        <button     type="button" 
                    class="btn btn-primary btn-block mb-5"
                    (click)="agregarOutput()">
            + Agregar 
        </button>    -->
        

      

    
</div>



    

     

  </div>
    


    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col">
            <button type="submit" class="btn btn-outline-primary btn-block">
                Guardar
            </button>
        </div>
    </div>
</div>
</form>

<hr>
<pre>
    Estado del form: {{ forma.valid }}

    Status del form: {{ forma.status }}
</pre>
<pre>
    {{ forma.value | json }}
</pre>