<app-loading *ngIf="loading"></app-loading>

<div *ngIf="errorFlag" class="alert alert-danger animated fadeIn">
  <h3>Error</h3>
  <p >
      {{ errorMessage }}
  </p>
</div>

<h3 class="text-white font-weight-bold">Categorias</h3>
<hr>
<h4><span class="badge badge-pill badge-danger">Árboles</span></h4>
<app-tarjetas [items]="ejerciciosA"></app-tarjetas>
<hr>
<h4><span class="badge badge-pill badge-info">Listas, vectores y matrices</span></h4>
<app-tarjetas [items]="ejerciciosB"></app-tarjetas>
<hr>
<h4><span class="badge badge-pill badge-success">Algoritmos numéricos</span></h4>
<app-tarjetas [items]="ejerciciosC"></app-tarjetas>

<!-- <div class="row">
    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <h3><span class="badge bg-primary">Definicion</span></h3>
        </div>
        <div class="card-body">
          <ul>
            <li *ngFor="let item of items | async">
              <h4><span class="badge bg-info">Code:</span>{{ item.code }} <span class="badge bg-danger">Name:</span>{{
                item.name }}</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card text-center">
        <div class="card-header">
          <h3><span class="badge bg-success">Solucion</span></h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> -->